* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #f3f4f4;
}
button {
    background-color: #000678;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
}
button:hover {
    background-color: #deab39;
    
}
input {
    border: 0px;
}
input:hover {
    border: 0.5px #deab39 solid;
    border-color: #deab39;
}

.viewMoreButton {
    background-color: #ad211e;
    position: absolute;
    left: 900px;
    padding: 10px;

}




